@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  outline: 0;
  height: 100%;
  box-sizing: border-box;
  background: #161616;
  color: #fff;
  font-family: Raleway,serif!important;
  background-image: url('https://i.imgur.com/wdcZC2B.jpg');
  word-wrap: break-word;
  
}

.tela{
  height: 100vh;
}

.purple{
  color: #5882fa;
}

#root{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header_container{
  height: 100px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 80px;
  box-sizing: border-box;
  padding: 0 122px;
  position: relative;
  
}

#hero {
  height: 80vh;
  margin-top: 150px;
}

#hero img{
  display: flex;
  position: absolute;
  margin-left: 50%;
  height: 450px;
  width: 450px;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(121, 143, 216, 0.959);
  border-radius: 12px;
}

.h1{
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.main_container{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3rem 0;
  
}

@media (max-width: 1000px){
  .main_container {
    margin: 15rem 0;
  }

  .header_container{
    left: 0;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .main_container {
    margin: 15rem 0;
  }
  .header_container{
    left: 0;
    width: 100%;
  }
}

@media (max-height: 600px) {
  .main_container {
    margin: 15rem 0;
  }
  .header_container{
    left: 0;
    width: 100%;
  }
}

@media (max-width: 1000px){
  #hero img{
    position: relative;
    margin-bottom: -200px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

  @media (max-width: 450px){
    #hero img{
      position: relative;
      margin-top: 50px;
      margin-bottom: -360px;
      width: 300px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
}